body,.container{
	font-family: 楷体;
	font-size: 16px;
	font-weight: 300;
	background-color:rgba(236,237,221,1.00);
}


	


.bannertext{
	padding:20px 0;
	vertical-align:bottom;
}



.fictionList li{
	padding-bottom: 20px;


}

.nonfictionList li{
	padding-bottom: 20px;


}

.slideImage{
	padding-top: 50px;

	height: 380px;
	
}




.slideImage img{
	position: absolute;
	z-index: 0
	

}

.slideImage .current{
	z-index: 1
}

.slideImage .previous{
	z-index: 2
}



.main,.content,#banner,footer{
	max-width: 960px;
	margin:5px auto;
	
}

#banner{
	background-color: #1fa67a;
	color: white;
}

.mainImg{
	display:flex;
}

.main img{
	padding-bottom: 20px;
	padding-right: 10px;
	width:180px;
	height: 260px;

}

h3,h4{
	color:#1fa67a;
}

footer{
	height: 100px;
	background-image: url(image/banner.jpg);
}

.copyright {
	

	font-weight: bold;
}

li .btn{
    background-color:#1fa67a;
    
    border-style: none;
}

.text-right h3 {
    
    margin-top: 0;
}

.content {
    border-bottom: solid 1px silver;
}

.nonfiction{
    border-left: solid 1px silver;
}
